*{
	margin:0;
	padding:0;
}

nav {
    border-top: 3px solid hsl(27, 90%, 55%);
    border-bottom: 1px solid hsl(210, 8%, 85%);
}

.login {
    padding: 8px 10px;
    background-color:transparent;
    color: #0A95FF;
    border: 1px solid #0A95FF;
}

input{
	border:0px solid;
	outline: none;
}


.signup {
    padding: 8px 10px;
    border: none;
    background-color: #0A95FF;
    color:#ffffff;
}



.containers{
	display:flex;
	align-items:flex-start;
	width:100%;
	height:2450px;
	margin:55px 0px 0px;
}
.containerLeft{
	display:flex;
	width:15.3%;
	height:600px;
	border-right:1px solid hsl(210,8%,85%);
	border-bottom:1px solid hsl(210,8%,85%);		
}
.leftNav{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	margin-left:52px;
	margin-top:32px;
	gap:15px;
}
.leftNavContents{
	display:flex;
	justify-content:center;
	align-items:flex-start;
	gap:5px;
	font-size:13px;
	cursor:pointer;
	color:#3b4045;
}
.leftNavContents svg{
	fill:hsl(210,8%,25%);
}
.leftNavContents:hover svg{
	fill:hsl(210,8%,5%);
}
.leftNavContents:hover p{
	color:#0c0d0e;
}

.users{
	display:flex;
	position:relative;
	right:5px;
	justify-content:flex-start;
	align-items:flex-start;
	gap:5px;
	font-size:13px;
	cursor:pointer;
	padding:8px;
	background-color:hsl(210,8%,95%);
	border-radius:5px 0px 0px 5px;
	margin-top:18px;
	width:100%;
}
.users svg{
	fill:hsl(210,8%,5%);
	
}

.companies{
	display:flex;
	justify-content:flex-start;
	align-items:flex-start;
	gap:5px;
	font-size:13px;
	cursor:pointer;
	width:100%;
	position:relative;
	bottom:10px;
	color:#3b4045;
}
.companies svg{
	fill:hsl(210,8%,25%);
}
.companies:hover svg{
	fill:hsl(210,8%,5%);
}
.companies:hover p{
	color:#0c0d0e;
}
.collectives{
	position:relative;
	top:15px;
	right:2px;
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
	gap:50px;
	cursor:pointer;
	color:#3b4045;
}
.collectives svg{
	fill:hsl(210,8%,25%);
}

.collectives:hover svg{
	fill:hsl(210,8%,5%);
}

.collectives p{
	font-size:11px;
	font-weight:700 ! important;
	color:#3b4045;
}
.collectives:hover p{
	color:#0c0d0e;
}

.explore{
	position:relative;
	top:15px;
	right:2px;
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
	gap:5px;
	cursor:pointer;
	margin-bottom:20px;
}
.explore svg{
	fill:hsl(27,89%,48%);
}

.explore p{
	font-size:13px;
}

.labs{
	position:relative;
	top:15px;
	right:2px;
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
	gap:90px;
	cursor:pointer;
	margin-bottom:5px;
	color:#3b4045;
}
.labs svg{
	fill:hsl(210,8%,25%);
}
.labs:hover svg{
	fill:hsl(210,8%,5%);
}

.labs p{
	color:#3b4045;
	font-size:11px;
	font-weight:700 ! important;
}
.labs:hover p{
	color:#0c0d0e;
}


.discussions{
	position:relative;
	top:15px;
	right:2px;
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
	gap:5px;
	cursor:pointer;
}
.discussions svg{
	fill:hsl(210,8%,25%);
}

.discussions p{
	font-size:13px;
	color:#3b4045;
}
.discussions:hover p{
	color:#0c0d0e;
}

