*{
	margin:0;
	padding:0;
}

nav {
    border-top: 3px solid hsl(27, 90%, 55%);
    border-bottom: 1px solid hsl(210, 8%, 85%);
}

.login {
    padding: 8px 10px;
    background-color:transparent;
    color: #0A95FF;
    border: 1px solid #0A95FF;
}

input{
	border:0px solid;
	outline: none;
}


.signup {
    padding: 8px 10px;
    border: none;
    background-color: #0A95FF;
    color:#ffffff;
}







.containers{

	width:100%;
	margin:55px 0px 0px;
}
.containerLeft{
	height:600px;
	border-right:1px solid hsl(210,8%,85%);
	border-bottom:1px solid hsl(210,8%,85%);		
}
.leftNavContents{
	gap:5px;
	font-size:13px;
	color:#3b4045;
}
.leftNavContents svg{
	fill:hsl(210,8%,25%);
}

.users{
	height:35px;
	gap:5px;
	background-color:hsl(210,8%,95%);
	border-radius:5px 0px 0px 5px;
}
.users svg{
	fill:hsl(210,8%,5%);	
}
.companies{
	gap:5px;
	font-size:13px;
	color:#3b4045;
}
.companies svg{
	fill:hsl(210,8%,25%);
}

.collectives{
	gap:50px;
	cursor:pointer;
	color:#3b4045;
}
.collectives svg{
	fill:hsl(210,8%,25%);
}
.collectives p{
	font-size:12px;
	font-weight:700 ! important;
	color:#3b4045;
}
.explore{
	gap:5px;
	cursor:pointer;
}
.explore svg{
	fill:;
}

.explore p{
	font-size:13px;
}
.discussions svg{
	fill:hsl(210,8%,25%);
}

.discussions p{
	font-size:13px;
	color:#3b4045;
}



.containerRight{
	width:100%;
}

.jon img{
	width:128px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius:5px;
}
.jonDetails{
	gap:8px;
	color:#636b74;
}
.jonDetails > p{
	font-size:34px;
	color:#0c0d0e;
}
.details{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	gap:5px;
}
.details p{
	font-size:10px;
}
.details svg{
	fill:hsl(210,8%,68%);
}
.cSharp{
	cursor:pointer;
}



.profileButton button{
	right:60px;
	display:flex;
	justify-content:center;
	font-size:12px;
	text-align: center;
	width: 74.45px; 
    	height: 35.03px;
	padding-left:7.5px;
}
.profileButton span{
	position:relative;
	top:2px;
}

.profile{
	position:relative;
	bottom:8px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: transparent;
	border:1px solid hsl(210,9%,75%);
	border-radius:6px;
	font-size:13px;	
	color:#3b4045;
}

.pActive {
	display:flex;
	position:relative;
	bottom:25px;
	justify-content:flex-start;
	align-items:center;
	gap:10px;
}
.pActive p {
	font-size:13px;
	padding:6px 12px;
	color:#636b74;
}


.pActive p:hover{
	background-color:hsl(210,8%,90%);
	border-radius:50px;
	cursor:pointer;
}
.profiles {
    	background-color: hsl(27,89%,48%);
	border-radius:50px;
	color:#636b74;
}

.pActive p:nth-child(1) {
	color:white;
}
.pActive div > p:hover {
	font-size:13px;
	background-color:hsl(27,87%,35%);
}


